@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

/* footer
----------------------------------------------------------------*/
.footer {
  padding: 46px 124px 56px 118px;
  background: #3e3e3e;

  @include mq("tab") {
    padding: 20px 0;
  }

  @include mq("sp") {
    padding: 48px 0 53px;
  }
}

.footer__wrap {
  display: flex;

  @include mq("sp") {
    display: block;
  }
}

.footer__sns-list {
  display: flex;

  @include mq("sp") {
    justify-content: center;
  }
}

.footer__sns-item {
  & + & {
    margin-left: 32px;

    @include mq("sp") {
      margin-left: 46px;
    }
  }
}

.footer__sns-item-link {
  color: #e3e3e3;
  font-size: 40px;
  padding: 0.1em 0;

  &:hover {
    opacity: $opacity-base;
  }

  @include mq("sp") {
    font-size: 41px;
  }
}

.footer__nav-list {
  margin-top: 23px;
}

.footer__nav-item {
  & + & {
    margin-top: 17px;

    @include mq("sp") {
      margin-top: 13px;
    }
  }

  @include mq("sp") {
    text-align: center;
  }
}

.footer__nav-item-link {
  color: #e3e3e3;
  font-weight: 500;
  padding: 0.1em 0;

  &:hover {
    opacity: $opacity-base;
  }

  @include mq("sp") {
    font-size: 14px;
    @include letter-spacing(0.35, 14);
    @include line-height(26, 14);
  }
}

.footer__right {
  margin-left: auto;
  color: #e3e3e3;

  @include mq("sp") {
    margin-top: 20px;
    text-align: center;
  }
}

.footer__logo {
  font-family: $font-family-english;
  font-size: 40px;
  font-weight: 600;
  @include line-height(77, 40);
  margin-top: -4px;

  @include mq("sp") {
    font-size: 32px;
    @include line-height(77, 32);
  }
}

.footer__copyright {
  font-family: $font-family-english;
  font-size: 12px;
  margin-top: -3px;
  text-align: right;
  @include letter-spacing(0.3, 12);

  @include mq("sp") {
    text-align: center;
    margin-top: -7px;
  }
}

.totop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  @include z-index(totop);

  @include mq("sp") {
    right: 16px;
    bottom: 13px;
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    opacity: $opacity-base;
  }

  a {
    text-decoration: none;

    img {
      width: 50px;
    }
  }
}
