// 全般的なスタイルを定義するファイル //
@use "../abstract/variables" as *;

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $font-color;
  line-height: $line-height-base;
  background-color: $bg-main-color;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}
